[Unit]
Description=Zeroconf Kubernetes Membership
After=network.target

[Service]
Type=exec
PassEnvironment=DISCOVERY_CONFIG
PassEnvironment=MDNS_SERVICE
PassEnvironment=ADVERTISE_INTERFACE
ExecStart=/usr/bin/civitas -interface $ADVERTISE_INTERFACE

[Install]
WantedBy=multi-user.target
