[Unit]
Description=Zeroconf Kubernetes Membership
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/zeroconf -interface eth0 172.22.0.2:1234

[Install]
WantedBy=multi-user.target
